#nav-bar
{
    position:sticky;
    top: 0;
}
#nav-bar :hover
{
    color:white;
    -webkit-transition-duration: 0.5s; 

}
.navbar
{
    background-image: linear-gradient(to right, #44abf0, #2fa7df);
    padding:0 !important;
}

.navbar-nav
{
    padding:10px 0;
}


/* ============================Setor do banner=====================================*/


.titulo-pagina{
    font-size: 40px;
    font-weight: 600;
    margin-top:20px;
}
#descricao
{
    font-size:20px;
    font-weight: 300px;
}

#title-artigo 
{
  font-size: 40px;
    font-weight: 600;
    margin-top:20px;
}
.main-article
{
    font-size:20px;
    font-weight: 300px;
}

#roda-pre
{
    margin-top:20px;
}


#chamada-itens
{
    margin-top:20px;
    font-size:40px;
    font-weight: 300px;

}

#lista-itens
{
font-size:20px;
    font-weight: 300px;
}

